<section style="height: 1000px;">
    <p>I ran this site through a validator and the only errors that I got in the HMTML were regarding the 'ng' attributes in the emlemnts that have angular js markup.</p>
    <p>I didn't make any changes to the markup since there were no other errors besides the angular markup.</p>
    <p>I added the CSS validation stamp in the footer to be displayed on all pages since my CSS is valid.</p>
    <img height="650" width="650" src="/app/content/img/htmlValidation.PNG" alt="validation" />
</section>