<section class="col-sm-8">
    <h2>
        <strong>Week 1:</strong> Semantic Tags
    </h2>
    <p>This week we are dealing with using semantic tags in an HTML5 Web Application</p>
    <article>
        <h3>What are Semantic Tags</h3>
        <p>
            Semantic tags are typically tags that have a name that gives a good description of the tag's contents.
            <h5><strong>Examples:</strong></h5>
            <span style="padding-left: 15px;">
                &lt;table&gt;, &lt;headder&gt;, &lt;footer&gt;, and &lt;article&gt; are some examples.  Each of these tags have names that discribe exactly what they do.
            </span>
            <br/>
            <span style="padding-left: 15px;">
                Very useful for developers and designers.
            </span>
        </p>
    </article>
    <article>
        <h3>On this site</h3>
        <p>
            This site uses a bit of semantic tags. There is a &lt;header&gt; tag at the top as well as a newer &lt;nav&gt; tag (the header and navbar)
            <br/>
            Also this content is broken up using &lt;article&gt; and &lt;section&gt; tags. But this particular content is all in a template html file (thank you angularjs)
            click the <i class="fa fa-info" aria-hidden="true"></i> in the nav bar to learn more about some technology being used on this site.
        </p>
    </article>
</section>
<aside>
    <!-- content to float to on the 'side' of the main content -->
</aside>
